
<table class="table table-hover table-inverse">
  <div class='row'>
   <thead class="thead-left">
    <tr>
     <th class='col-md-1'></th>
     <th class='col-md-2'>氏名</th>
     <th class='col-md-7'>コメント</th>
     <th class='col-md-2'></th>
    </tr>
   </thead>
  </div>
  <div class='row'>
   <tbody class="text-left">
         <% @novel.comments.each do |comment| %>
        <tr>
          <td></td>
          <td>
           <%= comment.customer.name %>
          </td>
          <td><%= comment.comment %></td>
          <td>
           <% if comment.customer == current_customer %>
            <%= link_to '削除', public_novel_comment_path(@novel, comment), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
           <% end %>
           </td>
          </tr>
        <% end %>
   </tbody>
  </div>
</table>