<div class='container top'>
 <div class='row'></div>
 <div class="mb-5"></div>
  <div class='row'>
   <div class='col-md-12 text-center'>
    <h2>NovelーSearchは、自分が面白いと思ったネット小説作品を投稿し、自分が読みたい</h2></br>
    <h2>作品をキーワードやジャンル別に検索するレヴューサイトです。</h2></br>
    <h2>あなたが多くの人におすすめしたい作品をタイトルごとに</h2></br>
    <h2>「ジャンル」「掲載されているサイト名」「簡単なコメント」を添えて紹介しませんか？</h2></br>
    <h2>まだ読んだことない作品や閲覧したことのないサイトに出会うことを目的にぜひ、</h2></br>
    <h2>ご活用ください。</h2></br>
   </div>
  </div>
 <div class="mb-5"></div>
 <div class='row'></div>
</div>