
<div class="container top">
 <% if flash[:notice].present? %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
 <% end %>
  <div class="row"></div>
  <div class="mb-3"></div>
   <div class='row'>
    <div class='col-md-12 text-center'>
    <h3>トップページ</h3>
    </div>
    </div>
   <div class="row"></div>
   <div class="mb-3"></div>

      <% @novels.each do |novel| %>
        <div class='row'>
          <%= render 'public/novels/novel', novel: novel %>
        </div>
        <div class="mb-4"></div>
        <div class="divider"></div>
      <% end %>

 <div class="mb-5"></div>
 <div class='row'></div>
</div>
