 <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"><%= link_to "ゲストログイン（閲覧用）", customer_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
          </div>
          <div class="col-md-4"></div>
        </div>


 </div>
