<div class="container">
  
    <h2>作品詳細</h2>
    
     <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6"><%= @novel.text_field :taitle %></div>
      <div class='col-md-3'>
       <%= link_to edit_public_novel_path(@novel), class: "btn btn-success btn-lg" do %>
       <i>編集する</i>
       <% end %>
      </div>
    </div>
    
        <!--<div class="row">-->
    <!-- <div class="col-md-2"><p>ジャンル</p></div>-->
    <!-- <div class="col-md-7"><!%= @novel.text_field :genre_name, autofocus: true %></div>-->
    <!--</div>-->
    
    <div class="row">
      <div class="col-md-2"><p>サイト</p></div>
      <div class="col-md-7"><%= @novel.text_field :site_name %></div>
      <div class="col-md-3"></div>
    </div>
    
    <div class="row">
      <div class="col-md-2"><p>レビュー</p></div>
      <div class="col-md-10"><%= f.text_area :review, autofocus: true %></div>
    </div>
    
        <!--<div class="row">-->
    <!-- <div class="col-md-2"><p>お気に入り</p></div>-->
    <!-- <div class="col-md-3"><i class="fa-light fa-star" style="color: yello;"></i><!%= @f.favorites.count %> </div>-->
    <!--<div class="col-md-7"></div>-->
    <!--</div>-->
    
    <!-- コメント投稿表示 -->
    
    <!-- コメント一覧表示 -->
    